In [1]:
import convert as c
import pandas as pd

## Basic Bread

Reference: https://www.youtube.com/watch?v=ycztOGTIX-s

### Ingredients (./configure)

In [2]:
flour = c.flour(3.25,"cups")
water = c.water(1.5,"cups")
oil = c.oil(1,"tbsp")
sugar = c.sugar(0.3,"tbsp")
salt = c.salt(0.5,"tbsp")
yeast = c.yeast(0.5,"tbsp")

### Combine Ingredients (make)

In [3]:
ciabatta = pd.concat([flour,water,oil,sugar,salt,yeast])
ciabatta.loc['Total'] = ciabatta.sum()

### Deploy ciabatta

#### Set Constraints

In [4]:
ciabatta / 2 # lets make a half recipe

         grams   tbsp       cup      cost  unit_cost  unit_quantity  calories
flour  208.000  26.00  1.625000  0.118726      0.645       0.092035    832.00
water  177.432  12.00  0.750000  0.000000      0.000       0.000000      0.00
oil      7.100   0.50  0.031250  0.047262      6.640       0.003559     63.90
sugar    1.800   0.15  0.009375  0.002178      1.095       0.000994      6.75
salt     4.500   0.25  0.015625  0.002748      0.225       0.006106      0.00
yeast    2.250   0.25  0.015625  0.019626      3.960       0.002478      0.00
Total  401.082  39.15  2.446875  0.190539     12.565       0.105173    902.65

### bakers percentage

In [5]:
ciabatta

         grams  tbsp      cup      cost  unit_cost  unit_quantity  calories
flour  416.000  52.0  3.25000  0.237451       1.29       0.184071    1664.0
water  354.864  24.0  1.50000  0.000000       0.00       0.000000       0.0
oil     14.200   1.0  0.06250  0.094524      13.28       0.007118     127.8
sugar    3.600   0.3  0.01875  0.004356       2.19       0.001989      13.5
salt     9.000   0.5  0.03125  0.005495       0.45       0.012212       0.0
yeast    4.500   0.5  0.03125  0.039251       7.92       0.004956       0.0
Total  802.164  78.3  4.89375  0.381078      25.13       0.210345    1805.3

In [8]:
import bakers_percentage as bp
bp.calc(ciabatta)

,grams,tbsp,cup,cost,unit_cost,unit_quantity,calories,bakers percentage
flour,416.000,52.0,3.25000,0.237451,1.29,0.184071,1664.0,
water,354.864,24.0,1.50000,0.000000,0.00,0.000000,0.0,85.303846
oil,14.200,1.0,0.06250,0.094524,13.28,0.007118,127.8,3.413462
sugar,3.600,0.3,0.01875,0.004356,2.19,0.001989,13.5,
salt,9.000,0.5,0.03125,0.005495,0.45,0.012212,0.0,2.163462
yeast,4.500,0.5,0.03125,0.039251,7.92,0.004956,0.0,1.081731
Total,802.164,78.3,4.89375,0.381078,25.13,0.210345,1805.3,